<div class="contact-container container">
    <h1 class="heading">Let's talk !</h1>
    <div class="row">
        <div class="col-md-1 idea-img">
            <img src="assets/images/idea.png" alt="idea" class="idea">
        </div>
        <div class="col-md-11">
            <p class="tag">
                Bring me your innovative ideas. 
            </p>
            <p class="tag">
                Let's cultivate them together and let the world witness magic.
            </p>

            <div class="contact-details">
                <div class="row phone-row outer">
                    <div class="col-md-2 col-xs-2 small">
                        <span class="contact-title">Phone:</span>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <span class="contact-text">
                            <img src="assets/contact/phone-call.png" alt="phone" class="contact-icon">
                            (+91) 8328857558
                        </span>
                    </div>
                </div>
                <div class="row whatsapp-row outer">
                    <div class="col-md-2 small">
                        <span class="contact-title">Whatsapp:</span>
                    </div>
                    <div class="col-md-10">
                        <span class="contact-text" (click)="open('whatsapp')">
                            <img src="assets/contact/whatsapp.png" alt="" class="contact-icon">
                            (+91) 9090031330
                        </span>
                    </div>
                </div>
                <div class="row email-row outer">
                    <div class="col-md-2 small">
                        <span class="contact-title">Email:</span>
                    </div>
                    <div class="col-md-10">
                        <span class="contact-text" (click)="open('email')">
                            <img src="assets/contact/new.png" alt="" class="contact-icon">
                            soubhagyasahoo065@gmail.com
                        </span>
                    </div>
                </div>
                <div class="row skype-row outer">
                    <div class="col-md-2 small">
                        <span class="contact-title">Skype:</span>
                    </div>
                    <div class="col-md-10">
                        <span class="contact-text" (click)="open('skype')">
                            <img src="assets/contact/skype.png" alt="" class="contact-icon">
                            soubhagya.sahoo@outlook.in
                        </span>
                    </div>
                </div>
                <div class="row linkedin-row outer">
                    <div class="col-md-2 small">
                        <span class="contact-title">LinkedIn:</span>
                    </div>
                    <div class="col-md-10">
                        <span class="contact-text" (click)="open('linkedin')">
                            <img src="assets/contact/linkedin.png" alt="" class="contact-icon">
                            Soubhagya Sahoo
                        </span>
                    </div>
                </div>
                <div class="row github-row outer">
                    <div class="col-md-2 small">
                        <span class="contact-title">Github:</span>
                    </div>
                    <div class="col-md-10">
                        <span class="contact-text" (click)="open('github')">
                            <img src="assets/contact/github.png" alt="" class="contact-icon">
                            Soubhagya-96
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>